aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
asgiref
attrs
backoff
bcrypt
beautifulsoup4
blinker
bs4
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
constants
contourpy
cryptography
cycler
dataclasses-json
dataclasses-json-speakeasy
datasets
Deprecated
dill
distro
effdet
emoji
fastapi
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iopath
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langdetect
langsmith
layoutparser
lxml
Markdown
markdown-it-py
markdownify
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
mpmath
multidict
multiprocess
mypy-extensions
networkx
nltk
numpy
oauthlib
omegaconf
onnx
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
overrides
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
pikepdf
pillow
pillow_heif
portalocker
posthog
protobuf
pulsar-client
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-dotenv
python-iso639
python-magic
python-multipart
pytz
PyYAML
rapidfuzz
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
streamlit
sympy
tabulate
tenacity
threadpoolctl
tiktoken
timm
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
urllib3
uvicorn
uvloop
validators
watchfiles
websocket-client
websockets
wrapt
xxhash
yarl
zipp
